<ion-header titulo="información">
    <ion-toolbar>

        <ion-button slot="start">
            <ion-back-button defaultHref="/">
            </ion-back-button>
        </ion-button>


        <ion-title color="primary">Información</ion-title>

        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/Casa.jpg">
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <center>
    <img src="/assets/Casa.jpg">
    </center>
    <ion-chip color="primary" outline="true">
        <ion-avatar>
            <img src="/assets/Casa.jpg">
        </ion-avatar>
        <ion-label color="primary">Ver todo</ion-label>
    </ion-chip>
    <br>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="information-circle-outline"></ion-icon>
            </ion-avatar>
            <ion-text>Quédate en casa Teziutlán es una plataforma de comunicación virtual para que Tú, Yo, Nosotros y todos los Teziutecos aportemos a nuestras familias y amigos, mensajes de aliento, tips, consejos y ayuda, para lograr superar el día a día</ion-text>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-avatar>
            <ion-text>271 personas les gusta esto, incluidos 2 de tus amigos</ion-text>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="bag-check-outline"></ion-icon>
            </ion-avatar>
            <ion-text>272 personas siguen esto</ion-text>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="call-outline"></ion-icon>
            </ion-avatar>
            <ion-text>229 129 5020</ion-text>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="mail-open-outline"></ion-icon>
            </ion-avatar>
            <ion-text color="primary">Enviar mensaje</ion-text>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="folder-outline"></ion-icon>
            </ion-avatar>
            <ion-text color="primary">Sitio histórico y de referencia
            </ion-text>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <ion-icon name="warning-outline"></ion-icon>
            </ion-avatar>
            <ion-text color="primary">
                Política de privacidad
            </ion-text>
        </ion-item>
    </ion-list>



</ion-content>
