<ion-header titulo="Recomendaciones y Opiniones">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title color="primary">Recomendaciones y Opiniones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <center>
    <img src="/assets/Casa.jpg">
    </center>
    <ion-card>
        <ion-card-header>
            <ion-icon color="danger" name="chatbox"></ion-icon>
            <ion-card-title>Todavía no hay recomendaciones</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-icon color="danger" name="star"></ion-icon>
            <ion-card-title>Aún no tiene calificación</ion-card-title>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            ¿Recomiendas Quédate en casa Teziutlán?
        </ion-card-content>
        <!-- Icons -->
        <center>
        <ion-button color="primary">
            <ion-icon slot="start" name="happy"></ion-icon>
            Si
        </ion-button>

        <ion-button color="danger">
            No
            <ion-icon slot="end" name="sad"></ion-icon>
        </ion-button>
        </center>

        <br>
    </ion-card>

</ion-content>
